[Unit]
Description=Careless Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/groovy /path/to/careless/careless.groovy /path/to/careless/properties.conf

[Install]
WantedBy=multi-user.target

